*, *::before, *::after{
  box-sizing: border-box;
  margin: 0;
  font-size: 1.025rem;
  font-family: sans-serif;
}

button{
  border: none;
}

a{
  text-decoration: none;
}

.full-height{
  height: 100vh;
}

.bolded{
  font-weight: bold;
}

.padded-top{
  padding: 12px 0;
}

.padded-left{
  padding: 0 30px;
}

.grid-half-column{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  align-items: center;
}

.grid-small-half-column{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.grid-add-column{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.grid-one-column{
  display: grid;
}

.grid-small-gap{
  gap: 1em;
}

.grid-gap{
  gap: .5em;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-gap > * {
  margin: 0 5px;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}


.flex-end{
  justify-content: flex-end;
}

.flex-start{
  align-items: flex-start;
}

.flex-stretch-3{
  flex-grow: 3;
}

.flex-stretch-basis{
  flex-basis: 100%;
}

.flex-grow-1{
  flex-grow: 1;
}

.full-width{
  width: 100%;
}


.half-width{
  width: 50%;
}

.rounded{
  border-radius: 10px;
}

.slideshow-container{
  position: relative;
  overflow-x: hidden;
  height: 200px;
}

.mini-slide-show{
  display: grid;
  grid-template-columns: repeat(5, 180px);
  position: absolute;
  left: 0;
  height: inherit;
  gap: 10px;
}

.mini-slide-show *{
  height: inherit;
}

.square{
  position: relative;
}

.square > * {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.square::before{
  float: left;
  padding-top: 120%;
  content: "";
}

.square::after{
  display: block;
  content: "";
  clear: both;
}


.side-margins{
  width: 85%;
  margin: 0 auto;
}


.bottom-margins > * {
 margin-bottom: 25px;
}

.top-margins {
  margin-top: 25px
}

.round-border{
  border-radius: 7px;
}

.no-border{
  border: none;
}

.small-text{
  font-size: small;
}

#main-nav img{
  height: 25px;
}

#authorization-container{
  padding: 25px 35px;
}