:root{
    --darkgray: rgb(37, 40, 42);
    --yellow: rgb(255, 220, 82);
    --addstyle: rgb(213, 242, 255);
    --magenta: rgb(255, 184, 244);
}

.magenta-div{
    background-color: var(--magenta);
}

.gray-div{
    background-color: var(--darkgray);
    color: white;
}

.yellow-div{
    background-color: var(--yellow);
}

.addstyle{
    background-color: var(--addstyle);
}

.white-div{
    background-color: white;
    padding: 5px;
}

.no-border-top{
    border-left: 1px solid var(--darkgray);
    border-right: 1px solid var(--darkgray);
    border-bottom: 1px solid var(--darkgray);
}

.no-border-bottom{
    border-left: 1px solid var(--darkgray);
    border-right: 1px solid var(--darkgray);
    border-top: 1px solid var(--darkgray);
}

.all-borders{
    border: 1px solid var(--darkgray);
}